:root {
  --primary-color: #00b8a9;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font: "Oxygen", sans-serif;
  --basic-font: "Spartan", sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
  font-family: var(--primary-font);
}

h2 {
  font-size: 48px;
  font-family: var(--basic-font);
  opacity: 0.7;
}

h3 {
  font-size: 24px;
  font-family: var(--basic-font);
  opacity: 0.7;
}

p {
  font-size: 18px;
  font-family: var(--basic-font);
  line-height: 1.5;
}

ul {
  padding-left: 0;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  h1 {
    font-size: 70px;
  }
  .project-img {
    display: none;
  }
  .container {
    text-align: center;
  }
}

.hero {
  background-color: #ffde7d;
  background-image: url(images/background.png);
  padding-top: 130px;
  padding-bottom: 130px;
}

.hero h1 {
  color: var(--secondary-color);
}

.about-me {
  margin-top: 100px;
}

.about-me h1 {
  color: var(--primary-color);
}

.social-buttons,
.social-buttons li {
  display: inline-flex;
}
.social-buttons {
  width: 100%;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 50px;
  font-size: 30px;
}

.social-buttons a {
  width: 100%;
  padding: 10px;
  text-decoration: none;
  color: var(--primary-color);
}

.my-photo {
  border-radius: 20px;
  margin-left: 50px;
}
